<app-header></app-header>
<div class="container">
        <div class="gallery">
            <div class="img1">
                <img src="../../assets/Jeff.jpg" class="gallery__img" alt="jeff">
            </div>
            <div class="img2">
                <img src="../../assets/Marissa.jpg" class="gallery__img" alt="Marissa">
            </div>
            <div class="img3">
                <img src="../../assets/Mark.jpg" class="gallery__img" alt="Mark">
            </div>
            <div class="img4">
                <img src="../../assets/satya.jpg" class="gallery__img" alt="satya">
            </div>
            <div class="img5">
                <img src="../../assets/sundhar.jpg" class="gallery__img" alt="Sunder pichhai">
            </div>
            <div class="img6">
                <img src="../../assets/Tim.jpg" class="gallery__img" alt="Tim Cook">
            </div>
        </div>
    </div>

<app-footer></app-footer>    